{% extends 'challengeApp/base.html' %}
{% load static %}


{% block tituloPagina %}
Inicio - Lista de Tareas
{% endblock %}

{% block contenidoPagina %}
    <br><br> 
    <br> <br>
    <div class="container-fluid">
            <div class="conteiner px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-12">
                        <form class="d-flex my-2 my-lg-0" action="" method="post">
                            {% csrf_token %}
                            <input class="flex-grow-0 form-control mr-sm-2" type="search" name="buscar" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-primary text-nowrap ms-3 my-2 my-sm-0" type="submit"><i class="bi bi-search"></i> Buscar</button>
                        </form>      
                    </div>
                </div>
                <br>
                <h4>
                    {% if buscar %}
                        Resultado para "{{ busqueda }}":
                    {% endif %}
                </h4>
            </div>

        <br>
        <section class="bg-light">
            <div class="container-fluid px-5 ">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-4 col-lg-offset-4">
                        <br>
                        {% if user.is_authenticated %}
                        <form action="{% url 'crear_tarea' %}" method="POST" role="form" class="d-flex my-2 my-lg-0">
                            {% csrf_token %}
                                {{ form.texto }}
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-outline-primary ms-3 my-2 my-sm-0" id="add-btn">Agregar</button>
                                </span>
                        </form>
                        {% endif %}   
                        <br>
                        {% for tarea in tareas %}
                            <div class="card">
                                {% if tarea.completada %}
                                    <div class="card-body d-flex">
                                        <a href="{% url 'desmarcar_tarea' tarea.id %}" style="text-decoration: none"> <del class="text-black"> {{ tarea.texto }} </del> </a>    
                                        <a class="text-primary badge badge-primary text-decoration-none" href=" {% url 'editar_tarea' tarea.id %} "> <i class="fas fa-edit"></i></a>
                                        <a class="text-danger badge badge-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-trash-alt"></i></a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Está seguro de eliminar la tarea?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary"" data-bs-dismiss="modal">Cancelar</button>
                                                    <a href=" {% url 'eliminar_tarea' tarea.id %}"  class="btn btn-outline-danger"> Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    {% else %}
                                    <div class="card-body d-flex">
                                        <a href="{% url 'tarea_lista' tarea.id %}" class="text-black" style="text-decoration: none">{{ tarea.texto }}</a>
                                        <a class="text-primary badge badge-primary text-decoration-none" href=" {% url 'editar_tarea' tarea.id %} "> <i class="fas fa-edit"></i></a>
                                        <a class="text-danger badge badge-primary text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-trash-alt"></i></a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Está seguro de eliminar la tarea?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary"" data-bs-dismiss="modal">Cancelar</button>
                                                        <a href=" {% url 'eliminar_tarea' tarea.id %}"  class="btn btn-outline-danger"> Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
        </section>
    </div>

    
{% endblock %}
    
